[submodule "awesome/superpowers"]
	path = awesome/superpowers
	url = git@github.com:obra/superpowers.git
[submodule "awesome/anthropics-skills"]
	path = awesome/anthropics-skills
	url = git@github.com:anthropics/skills.git
[submodule "awesome/google-lab-stitch-skills"]
	path = awesome/google-lab-stitch-skills
	url = git@github.com:google-labs-code/stitch-skills.git
[submodule "awesome/jeffallan-skills"]
	path = awesome/jeffallan-skills
	url = git@github.com:Jeffallan/claude-skills.git
[submodule "awesome/single/code-review-expert"]
	path = awesome/single/code-review-expert
	url = git@github.com:sanyuan0704/code-review-expert.git
[submodule "awesome/single/humanizer"]
	path = awesome/single/humanizer
	url = git@github.com:blader/humanizer.git
[submodule "awesome/knowledge-work-plugins"]
	path = awesome/knowledge-work-plugins
	url = git@github.com:anthropics/knowledge-work-plugins.git
[submodule "awesome/single/gemini-skills"]
	path = awesome/single/gemini-skills
	url = git@github.com:google-gemini/gemini-skills.git
[submodule "awesome/single/jb-go-modern-guidelines"]
	path = awesome/single/jb-go-modern-guidelines
	url = git@github.com:JetBrains/go-modern-guidelines.git
[submodule "awesome/garrytan_gstack"]
	path = awesome/garrytan_gstack
	url = git@github.com:garrytan/gstack.git
[submodule "awesome/addyosmani-agent-skills"]
	path = awesome/addyosmani-agent-skills
	url = git@github.com:addyosmani/agent-skills.git
