[submodule "awesome/superpowers"]
	path = awesome/superpowers
	url = git@github.com:obra/superpowers.git
[submodule "awesome/anthropics-skills"]
	path = awesome/anthropics-skills
	url = git@github.com:anthropics/skills.git
[submodule "awesome/google-lab-stitch-skills"]
	path = awesome/google-lab-stitch-skills
	url = git@github.com:google-labs-code/stitch-skills.git
[submodule "awesome/jeffallan-skills"]
	path = awesome/jeffallan-skills
	url = git@github.com:Jeffallan/claude-skills.git
[submodule "awesome/single/code-review-expert"]
	path = awesome/single/code-review-expert
	url = git@github.com:sanyuan0704/code-review-expert.git
